<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Stereo</title>
        <!-- Bootstrap 5.0.0-beta2 -->
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
            integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>

        <div class="container cover-container">

            <div class="row">
                <div class="col">
                    <% if (messages && messages.length) { %>
                    <div class="alert alert-success alert-dismissible fade show">
                        <%= messages %>
                        <button type="button" class="close" data-dismiss="alert">
                            <span>&times;</span>
                        </button>
                    </div>
                    <% } %>
                    <h1 class="text-center text-light fs-1">My Stereo</h1>
                    <p class="text-center text-light">Welcome to My Stereo</p>
                    <p class="text-center text-light">簡單有效，您最好的倉儲管理系統</p>

                    <div class="my-btn">
                        <div class="btn-group w-40" role="group">
                            <a class="btn btn-lg btn-outline-light purchase" href="/purchase" role="button">進貨</a>
                            <a class="btn btn-lg btn-outline-light" href="/sale" role="button">銷貨</a>
                            <a class="btn btn-lg btn-outline-light" href="/stock" role="button">庫存</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous">
        </script>

    </body>

</html>