body {
    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
        url(https://images.unsplash.com/photo-1584211970299-a7a65b35e758?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    background-position: center;
}

.cover-container {
    margin-top: 30vh;
}

.my-btn {
    text-align: center;
}

.row {
    display: block;
    justify-content: center;
}

.col {
    margin: auto;
    width: 30%;
}

.loginGroup form {
    text-align: center;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px;
    line-height: 1.5;
    font-size: 18px;
}

.loginGroup button {
    margin-top: 10px;
    width: 100%;
}

.card {
    height: 270px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}